<!-- Page Title -->
<div class="page-title text-center">
  <h2 class="title"> Consultoría</h2>
  <p class="description light"> Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
    <br> Phosfluorescently whiteboard fully tested initiatives. </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
    <i class="fa fa-chevron-right"></i>
    <span class="child"> <a href="services.html"> Services </a> </span>
    <i class="fa fa-chevron-right"></i>
    <span class="child"> Services Full Width </span>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-9 services-content">
      <section>
        <div class="section-title text-center">
          <h2 class="title-services-other color-title"> CONSULTORÍA </h2>
          <div class="spacer-30"></div>
        </div>
        <!-- subfila: 1-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h4 class="subtitle center"> Estudios y recomendaciones tecnológicas </h4>
              <p class="text-justify">
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción.
              </p>
            </div>
            <div class="col-md-4 sidebar ">
              <div class="hover-effect">
                <img class="img-responsive" src="assets/images/integracion/chincometro_01.jpg"/>
              </div>
            </div>
          </div>
        </div>
        <!-- subfila: 2-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 sidebar ">
              <div class="hover-effect">
                <img class="img-responsive" src="assets/images/integracion/chincometro_01.jpg"/>
              </div>
            </div>
            <div class="col-md-8">
              <h4 class="subtitle center"> Estudios conceptuales y de factibilidad. </h4>
              <p class="text-justify">
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción.
              </p>
            </div>
          </div>
        </div>
        <!-- subfila: 3-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h4 class="subtitle center"> Ingeniería básica y de detalle. </h4>
              <p class="text-justify">
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción.
              </p>
            </div>
            <div class="col-md-4 sidebar ">
              <div class="hover-effect">
                <img class="img-responsive" src="assets/images/integracion/chincometro_01.jpg"/>
              </div>
            </div>
          </div>
        </div>
        <!-- subfila: 4-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 sidebar ">
              <div class="hover-effect">
                <img class="img-responsive" src="assets/images/integracion/chincometro_01.jpg"/>
              </div>
            </div>
            <div class="col-md-8">
              <h4 class="subtitle center"> Gestión profesional de proyectos según PMI (PMBOK) </h4>
              <p class="text-justify">
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción.
              </p>
            </div>
          </div>
        </div>
        <!-- subfila: 5-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h4 class="subtitle center"> Procedimientos de operación y mantenimiento de equipo de instrumentación. </h4>
              <p class="text-justify">
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción. En construcción. En construcción.
                En construcción. En construcción. En construcción.
              </p>
            </div>
            <div class="col-md-4 sidebar ">
              <div class="hover-effect">
                <img class="img-responsive" src="assets/images/integracion/chincometro_01.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="col-md-3 sidebar left">
      <div class="sidebar-blog-categories">
        <ul>
          <li><a href="#"> Shell Chemicals </a></li>
          <li><a href="#"> Commercial Fuels </a></li>
          <li><a href="#"> Aviation Fuels </a></li>
          <li><a href="#"> Lubricants </a></li>
          <li><a href="#"> Marine Fuels </a></li>
          <li><a href="#"> Liquified Petrolium Gas </a></li>
          <li><a href="#"> Shell Sulphur </a></li>
          <li><a href="#"> Shell Trading </a></li>
          <li><a href="#"> Shell for Suppliers </a></li>
        </ul>
      </div>

      <div class="sidebar-download">
        <div class="download-file color-bg">
          <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF <span>1.5 MB</span>
          </a>
        </div>
      </div>

      <div class="sidebar-fact">
        <h3 class="about-quick-fact">Quick Fact</h3>
        <p>Distinctively fashion in the effect of standard products communities via seamless applications.
          Authoritatively recaptiualize.</p>
        <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>
      </div>
    </div>
  </div>
</div>


