<!-- Page Title -->
<div class="page-diplomado text-center">
    <h2 class="title"> Diplomados </h2>
    <p class="description light"> IT energy centra sus cursos de postgrado en los más altos niveles de estándares educativos para afrontar los complejos
        <br>desafios de aseguramiento de competencia de la industria del petróleo y gas mundial de hoy. </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> <a href="blog.html"> NEWS AND MEDIA </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> Blog </span>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-9 blog-grid">
            <section class="blog-services">
                <div class="row news">
                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">NOV </span> <span class="date"> 12</span> </div>
                            <a class="hover-effect" [routerLink]="['/optimizacion-sistema']">
                                <img src="assets/images/desarrollo-carrera/calendario-curso/IT_Training.jpg" alt="Fuel" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a [routerLink]="['/optimizacion-sistema']">OPTIMIZACIÓN DE  SISTEMAS      DE    PRODUCCIÓN BASADOS EN EL ANÁLISIS NODAL – POZOS DE GAS & CONDENSADOS </a></h3>
                            <p>By <a href="#">Msc. Victor José Lacruz León </a> in Optimize Wells Operations</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Oct </span> <span class="date"> 15</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="assets/images/desarrollo-carrera/calendario-curso/instalacion_produccion.jpg" alt="Field Training" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html"> MEJORES PRÁCTICAS EN OPERACIÓN DE POZOS E INSTALACIONES DE PRODUCCIÓN </a> </h3>
                            <p>By <a href="#">Msc. Victor José Lacruz León</a> in Optimize Wells Operations</p>
                        </div>
                    </div>

                    <div class="clearfix spacer-60"> </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Dic </span> <span class="date"> 3</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="assets/images/desarrollo-carrera/calendario-curso/optimizacion_pozo.jpg" alt="Environment" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html">OPTIMIZACIÓN DE POZOS E INSTALACIONES DE PRODUCCIÓN EMPLEANDO FILOSOFÍA DE CAMPOS INTELIGENTES</a> </h3>
                            <p>By <a href="">Ing. Martín Sánchez</a> in Information Technology</p>
                            <p>By <a href="#">Msc. Victor José Lacruz León</a> in Optimize Wells Operations</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Feb </span> <span class="date"> 24</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="assets/images/desarrollo-carrera/calendario-curso/automatizacion_GIY.jpg" alt="Field Training" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3> <a href="blog-single.html"> GERENCIA INTEGRAL DE YACIMIENTOS PARA PROFESIONALES DE AUTOMATIZACIÓN</a> </h3>
                            <p>By <a href="#">Clinton Chavez</a> in TCareers</p>
                        </div>
                    </div>

                    <div class="clearfix spacer-60"> </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">MAR </span> <span class="date"> 06</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news1.jpg" alt="Fuel" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3> <a href="blog-single.html"> FUEL TRANSPORTATION AND RAILWAY RULES </a> </h3>
                            <p>By <a href="#">Eduardo Flores</a> in Transportation</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Feb </span> <span class="date"> 24</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news2.jpg" alt="Field Training" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html"> FIELD TRAINING SESSIONS FOR NEW EMPLOYEES </a> </h3>
                            <p>By <a href="#">Clinton Chavez</a> in TCareers</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3 sidebar">

            <div class="sidebar-search-form">
                <input type="text" class="  search-query form-control" placeholder="Search" />
                <button class="btn search-btn" type="button">
                        <span class="fa fa-search"></span>
                    </button>
            </div>

            <div class="sidebar-blog-categories">
                <h3 class="sidebar-title">Categories</h3>

                <ul>
                    <li> <a href="#">Formación y certificación de competencias</a> </li>
                    <li> <a href="#">Desarrollo y mantenimiento de competencias</a> </li>
                    <li> <a href="#">Petroaula virtual</a> </li>
                    <li> <a href="#">Consultoria de desempeño del personal</a> </li>
                </ul>

            </div>

            <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Download PDF <span>1.5 MB</span>
                        </a>
                </div>

            </div>

            <div class="sidebar-fact">

                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.</p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

            </div>

            <div class="sidebar-tags">
                <h3 class="sidebar-title"> Tags </h3>
                <a href="#">OFFSHORE</a>
                <a href="#">DEVELOPMENT</a>
                <a href="#">TRANSPORTATION</a>
                <a href="#">OIL &amp; GAS</a>
                <a href="#">TRADING</a>
                <a href="#">SHELL</a>
                <a href="#">SUPPLY</a>
                <a href="#">ENVIRONMENT</a>
                <a href="#">CAREERS</a>

            </div>

        </div>

    </div>
</div>