<section class="home-stats">
    <div class="container">
        <div class="row stats">
            <div class="col-md-3 col-xs-6">
                <img src="assets/images/globe.png" alt="" />
                <div class="stats-info">
                    <h4 class="counter">26</h4>
                    <p>Oficinas en el Mundo</p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <img src="assets/images/friends.png" alt="" />
                <div class="stats-info">
                    <h4 class="counter">10000</h4>
                    <p>Empleados Satisfechos</p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <img src="assets/images/fire.png" alt="" />
                <div class="stats-info">
                    <h4 class="counter">126</h4>
                    <p>Refinerías & Operaciones</p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <img src="assets/images/badge.png" alt="" />
                <div class="stats-info">
                    <h4 class="counter">35</h4>
                    <p>Reconocimientos</p>
                </div>
            </div>

        </div>
    </div>
</section>
