<!-- Page Title -->
<div class="page-ceo text-center">
    <h2 class="title"> CEO </h2>
    <p class="description light"> "Mejorar la conectividad de los empleados es una de las formas más rapidas de iniciar el proceso de innovación "
        <br> </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent">
            <i class="fa fa-home"></i>
            <a href="index.html"> Home </a>
        </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child">
            <a href="about.html"> About </a>
        </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> COMPANY OVERVIEW </span>
    </div>
</div>
<div class="container">
    <div class="row about-sidebar">
        <div class="col-md-9 about-content">
            <section class="about-employees">
                <div class="row employees ">
                    <div class="col-sm-12 text-left text-justify">

                        <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Mensaje de nuestro CEO</h3>
                        <p>El Mundo como lo conocíamos ya cambio. La tecnología se está transformando constantemente y ahora de manera exponencial; la manera en la que nos comunicamos, adquirimos nuestros productos, interactuamos, nos relacionamos, nos desplazamos,
                            pero sobre todo a tenido un impacto gigantesco en la manera de hacer nuestro trabajo.</p>
                        <p>Los últimos 4 años, reconocimos que aún no estábamos preparados del todo para encarar los cambios que el sector energético demanda, en especial la industria de los hidrocarburos, en primer lugar, por el desplome de los precios
                            del crudo, en segundo lugar, por la lenta incorporación hasta entonces, de la tecnología en la mayoría de los procesos del Upstream, midstream y downstream.</p>
                        <p>IT Energy, fundada en el año 2013; con el único objetivo de crear soluciones tecnológicas de vanguardia para ofrecer soporte a nuestros clientes para afrontar estos desafíos de cambio, no solo con la intención de hacerlos más competitivos
                            sino también, motivarlos a crear una nueva filosofía de trabajo basada en los procesos, la tecnología, las personas y sus productos o servicios.</p>
                        <p>El año 2018, ha sido de grandes logros y de metas consolidadas, una muestra de esto es la inauguración de nuestras oficinas ejecutivas en la ciudad de Reynosa, Tamaulipas. Ratificando a nuestros clientes que una de nuestras fortalezas
                            está en poder operar en zonas hostiles con condiciones tan adversas como lo representa todo el Estado de Tamaulipas. Sin embargo, contamos con expertos profesionales capaces de mitigar riesgos importantes y manejar situaciones
                            de operación difícil. Apostando al desarrollo del Estado que nos vio nacer y sentirnos orgullosos de haber logrado crecer y desarrollar nuestro negocio a pesar de las condiciones, “un desafío que en IT Energy hemos superado.”</p>
                        <p>Como Chief Executive Officer me siento orgulloso que, junto a nuestra mesa directiva, socios y staff de profesionales con dilatada trayectoria hemos dirigido, coordinado y ejecutado con éxito proyectos complejos con el uso de tecnologías
                            disruptivas a empresas de referencia global. Posicionándonos en el mercado como una referencia en soluciones tecnológicas de telesupervisión, SCADA, automatización y control, Digital Oilfield, entre otras. </p>
                        <p>El 2018 es un año electoral, que a mi manera de ver será la más histórica de las contiendas electorales para México. Lo que mantiene a muchos inversionistas en un ambiente de gran incertidumbre para apostar en el sector energético.
                            Sin embargo, es para nosotros un periodo y de oportunidades de crecimiento. Como compromiso de nuestros lineamientos y muestra de que nuestros clientes pueden confiar en nuestra empresa, quiero mencionar algunos temas importantes
                            en los que todo el personal que forma parte de IT Energy estará empujando fuertemente.</p>
                        <p>1. Desarrollo del Sistema de Gestión y Gerencia de Medición de Hidrocarburos. Permitiendo a IT Energy garantizar que los procesos de medición funcionen de manera óptima y lo más preciso posible, proveyendo equipos, diseño de instalaciones
                            de sistemas de medición, procedimientos y el personal especializado. Permitiendo así convertirnos en el principal aliado de las principales empresas operadoras para dar cumplimiento con los 19 puntos del gerenciamiento de la
                            medición requeridos por la Comisión Nacional de Hidrocarburos y estandarizados en los lineamientos técnicos de medición de hidrocarburos (LTMH). Esta herramienta será sin duda la mejor oferta en el mercado, como plataforma
                            de gestión y cumplimiento que permitirá coadyuvar a la mejora de las mediciones en baterías de separación y en los puntos de transferencia de custodia. Además de ser desarrollada con la más estricta seguridad informática, lo
                            que será sin lugar a duda, la mejor oferta tecnología disponible del mercado ya que tiene como icono de éxito la combinación de los factores equipos e instrumentos, procedimientos y personal.</p>
                        <p>“El éxito de nuestra tecnología de campo radica en la confiabilidad del dato, nuestro foco está puesto justo ahí”. Comentó: Armando Gil, Director del departamento de Ingeniería para IT Energy</p>
                        <p>2. Alianzas estratégicas con importantes empresas en el sector como MSI International, para establecer lazos comerciales que permitan desarrollar nuevos modelos de negocio en terrenos aun verdes en México, pero que en otros países
                            han venido creciendo de manera importante. Estamos buscando caminos para ampliar nuestra oferta de servicios y estamos seguros de que las alianzas estratégicas son sin duda un camino importante.</p>
                        <p>“Estamos sumando aliados con tecnología de punta para encontrar nuevas maneras de proveer energía y contribuir al futuro de México y el mundo”. Comentó: Ricardo Jiménez, Gerente comercial para IT Energy</p>
                        <p>3. Nuevo portafolio de servicios apuntando al desarrollo de proyectos en un mercado diferente al de Oil and Gas, hemos iniciado la ejecución de proyectos enfocados a la industria maquiladora, donde centraremos nuestra dilatada
                            experiencia en automatización a disposición de más de 600 fábricas, tan solo en el norte del país. Nos sentimos muy entusiasmados de cumplir uno de nuestros objetivos propuesto por nuestra directiva este año, el cual se ha
                            hecho realidad en los primeros 4 meses de gestión</p>
                        <p>“Una solución segura es el principal elemento que nos diferencia de nuestra competencia”: Comentó: Sergio D. López, Jefe de Operaciones para IT Energy</p>
                        <p>4. CLIOS (Cloud Intelligent Oilfield Service); es uno de nuestros servicios más exitosos, somos para muchos, la compañía más confiable en este modelo de negocio. Estamos muy contentos de los comentarios de nuestros clientes, a
                            mediano plazo hemos podido demostrar nuestros diferenciadores, no solo tenemos la plataforma F2 - Cloud, como la más robusta de su tipo, si no también es la más segura del mercado.</p>
                        <p>5. Durante el último tercio de este año, estaremos poniendo en servicio la versión 2019 de nuestra plataforma F2Cloud (Field to Cloud). Nuestra área de desarrollo está muy motivada con este proyecto ya que estará completamente
                            orientado a la nube, con características inigualables en cuanto a infraestructura, disponibilidad, alertas y con una interface de usuario única en su tipo</p>
                        <p>“Haremos una plataforma tan robusta, segura y potente que nuestra competencia simplemente va a querer tenerla.” Expreso entre risas Lázaro Arcos, Jefe de desarrollo de software para IT Energy</p>
                        <p>En IT Energy estamos comprometidos con el primer centro académico por excelencia en materia energética para la región, este debe ser juntos, nuestro norte. La innovación junto a la capacitación son valores que día a día debemos
                            fortalecer como lema. Gracias a nuestros avances en tecnologías de información y ciencias computacionales el sector petrolero avanza con pasos firmes, sólo con profesionalismo lograremos hacer una fuerza importante para el
                            progreso de México. </p>
                        <p>“El elemento más importante para la ejecución, en Tamaulipas, de la Reforma energética es la formación de capital humano especializado.” Comentó: Msc. Victor José Lacruz León Director del departamento de DMC para IT Energy</p>
                        <p>Como CEO de IT Energy, acepto la gran responsabilidad que nuestro equipo me encomienda, es por ello en que, en materia de seguridad, usamos tecnología probada y avalada por nosotros, intrínsecamente seguras, cumplimos con rigor
                            las normas de clasificación, anti-explosión y nos apegamos estrictamente a nuestra política HSE.</p>
                        <p>Hemos podido diferenciarnos y ser reconocidos como líderes en el sector ante la actual oferta de compañías sin ética que ofrecen precios y tecnologías que ponen en riesgo la integridad de las instalaciones de nuestros clientes
                            y de su personal. Estamos viviendo una era de competencia desleal, donde empresas no especializadas afectan el mercado omitiendo las normas más simples, usando equipos fuera de especificación y contratando personal no especializado
                            que estamos seguros repercute en una mala opinión generalizada de este servicio. </p>
                        <p>Para finalizar, quisiera recalcar, en relación a lo ya indicado, que nuestros clientes han logrado comprender esta situación y diferenciarnos del resto de las empresas en el mercado, toda vez que hemos podido demostrar que nuestros
                            intereses están alineados con los suyos y siendo fiel a nuestra política empresarial. En IT Energy “Nos interesa construir relaciones de largo plazo, basadas en valores, seguridad, integridad y por supuesto en la confianza.”</p>
                        <br>
                        <p>Muchas Gracias</p>

                        <br>
                        <div class="col-md-6 text-left">
                            <a class="hover-effect">
                                <img src="assets/images/nuestra-empresa/ceo/firma.jpg" alt="Firma" />
                            </a>
                        </div>
                        <p>Martin Sánchez G.
                            <br> CEO
                            <br> IT Energy Tecnologías de Control
                        </p>
                    </div>
                </div>
                <div class="spacer-80"></div>
            </section>

        </div>
        <div class="col-md-3 sidebar left">
            <div class="sidebar-blog-categories">
                <ul>
                    <li>
                        <a [routerLink]="['/it','quienes-somos']"> ¿ Quiénes Somos? </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','mision-vision']"> Misión &amp; Visión </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','hse']"> HSE </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','ceo']"> CEO </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','identidad']"> Identidad </a>
                    </li>
                </ul>
            </div>
            <!-- <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF
                        <span>1.5 MB</span>
                    </a>
                </div>
            </div>
            <div class="sidebar-fact">
                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.
                </p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>
            </div> -->
        </div>
    </div>
</div>