<div class="shortcodes-page">
    <!-- Page Title -->
    <div class="page-title text-center">
        <h2 class="title"> Curso </h2>
        <p class="description light"> OPTIMIZACIÓN DE SISTEMAS DE PRODUCCIÓN BASADOS EN EL ANÁLISIS NODAL
            <br> POZOS DE GAS & CONDENSADOS </p>
    </div>
    <!-- Page Title -->

    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
            <i class="fa fa-chevron-right"></i>
            <span class="child"> <a href="services.html"> Services </a> </span>
            <i class="fa fa-chevron-right"></i>
            <span class="child"> Services Single </span>
        </div>
    </div>

    <div class="container">
        <div class="row services-sidebar">

            <div class="col-md-9 services-content">
                <div class="spacer-80"></div>


                <section class="services-checmicals text-justify">
                    <h2 class="title-2">Curso:</h2>
                    <h4 class="services-title-one subtitle">OPTIMIZACIÓN DE SISTEMAS DE PRODUCCIÓN BASADOS EN EL ANÁLISIS NODAL – POZOS DE GAS & CONDENSADOS </h4>

                    <!-- Horizontal Tabs -->
                    <div class="tab-widget">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Sobre el curso</a></li>
                            <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Dirigido a</a></li>
                            <li role="presentation"><a href="#about" role="tab" id="about-tab" data-toggle="tab" aria-controls="profile">Alcance </a></li>
                            <li role="presentation"><a href="#contenido" role="tab" id="contenido-tab" data-toggle="tab" aria-controls="profile">Contenido del curso </a></li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
                                <p>IT ENERGY ha diseñado un programa de capacitación especializado en Tópicos relacionados con el análisis de todo el sistema de producción de Gas & Condensados permitiendo aumentar los gastos de flujo de fluidos. Identificar
                                    los cuellos de botella y sirve como marco para el diseño de sistemas eficientes incluyendo pozos, Sistemas de Levantamiento Artificial, líneas de flujo y colectores. El curso ha sido diseñado para brindar conocimientos
                                    teórico y práctico, incluyendo ejercicios con datos reales de campo. Al culminar el curso, los participantes tendrán la capacidad y nivel de competencia requerido para poder estimar, analizar, comparar y reducir tiempos
                                    improductivos durante las operaciones de producción, así como cuantificar pérdidas de potencial. Además de comprometer a los ingenieros y técnicos en la solución de los problemas de campo que se vienen detectando en
                                    las áreas de trabajo, el programa PROSPER permite al participante concentrarse en el cotejo de los datos de campo, interpretación de los resultados, y la comprensión de las interdependencias de un sistema de producción
                                    de Gas & Condensado.</p>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledBy="profile-tab">
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="about" aria-labelledBy="about-tab">
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>

                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="contenido" aria-labelledBy="contenido-tab">
                                <h4 class="services-title-one subtitle">Contenido Programático </h4>
                                <div class="row styled-list">
                                    <ol class="list-unstyled">
                                        <li><i class="fa fa-dot-circle-o"></i> Ingeniería de gas, principios y aplicaciones.
                                            <ol>
                                                <li><i class="fa fa-dot-circle-o"></i> Caracteristicas del gas natural </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Comportamiento de fases</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Constante de equilibrio, soluciones reales (uso de correlaciones)</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Ecuaciones de Estado</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Caracterización composicional</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Método para caracterizar la fracción pesada C+ </li>
                                            </ol>
                                        </li>
                                        <li><i class="fa fa-dot-circle-o"></i> Comportamiento de los Fluidos (Monofásico y Multifàsico)
                                            <ol>
                                                <li><i class="fa fa-dot-circle-o"></i> Flujo a través del medio poroso.</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Predicción de comportamiento de afluencia para pozos de gas. </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Modelos para determinar la IPR para pozos de gas y condesando. </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Flujo a través de la tubería vertical en pozos de gas y condensado.</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Determinar la mejor correlación, análisis de Registros Fluyentes (PLT)</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Flujo a través del estrangulador- reductor. (Modelos para flujo crítico y sub crítico)</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Flujo a través de la tubería horizontal - Flujo en el separador. </li>
                                            </ol>
                                        </li>
                                        <li><i class="fa fa-dot-circle-o"></i> Análisis Nodal
                                            <ol>
                                                <li><i class="fa fa-dot-circle-o"></i> Análisis del sistema de producción</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Fundamentos del análisis nodal</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Aplicaciones</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Análisis total del sistema (Selección del diámetro de la tubería de producción, efecto de la línea de flujo, efecto de la estimulación, efecto de los estranguladores, efecto
                                                    de la completación) </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Análisis integral del sistema de producción</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Construcción del modelo.</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Rol de los Sistemas Artificiales de Producción en el Análisis Nodal.</li>
                                            </ol>
                                        </li>
                                        <li><i class="fa fa-dot-circle-o"></i> Modelaje de Pozos - (PROSPER - Well Performance Analysis)
                                            <ol>
                                                <li><i class="fa fa-dot-circle-o"></i> Sistema de producción del pozo individual</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Propiedades de los Fluidos - Modelo Petróleo Negro</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Propiedades de los Fluidos - Modelo COMPOSICIONAL</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Funcionamiento del módulo de Artificial Lift. </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Bombeo neumático para pozos de gas (Ventajas y desventajas, Sartas de velocidad) </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Otros SAP para pozos de gas </li>
                                                <li><i class="fa fa-dot-circle-o"></i> o Métodos térmicos para evitar condensación</li>
                                                <li><i class="fa fa-dot-circle-o"></i> Control de ciclos </li>
                                                <li><i class="fa fa-dot-circle-o"></i> Control de Flujo en TP. </li>
                                            </ol>
                                        </li>
                                    </ol>

                                </div>
                            </div>
                            <!-- end tabpanel -->
                        </div>
                        <!-- end tab-content -->
                    </div>
                    <!-- Horizontal Tabs -->
                </section>

            </div>

            <div class="col-md-3 sidebar left">

                <div class="sidebar-blog-categories">
                    <ul>
                        <li> <a href="#"> Sobre el curso </a> </li>
                        <li> <a href="#"> Diseñado Para </a> </li>
                        <li> <a href="#"> Aprenderas </a> </li>
                        <li> <a href="#"> Contenido del curso </a> </li>
                        <li> <a href="#"> Mas-etc </a> </li>
                    </ul>
                </div>

                <div class="sidebar-download">
                    <div class="download-file color-bg">
                        <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Download PDF <span>1.5 MB</span>
                    </a>
                    </div>
                </div>

                <div class="sidebar-fact">

                    <h3 class="about-quick-fact">Quick Fact</h3>
                    <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.</p>
                    <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

                </div>

            </div>
        </div>

    </div>
</div>