<section class="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li class="has-overlay">
                <img src="assets/images/slider/slider1.jpg"  alt="Slider 1" />
                <div class="slider-content text-center">
                    <div class="container">

                        <h2>Intelligent Oilfield</h2>
                        <p>Abarcando un ambiente colaborativo entre las comunicaciones, la recolección de datos, el reporte y el monitoreo en conjunto con la integración del conocimiento e información, el servicio de "Intelligent Oilfield" ofrecido por IT Energy, se convierte en una herramienta de apoyo para la toma de decisiones y acciones informadas en una empresa. Además de esto, enfoca, alinea y provee detalles que ayudan a priorizar las tareas de nuestra operación</p>
                        <a class="btn primary-btn"> CONOCER MAS <i class="fa fa-angle-right"></i> </a>
                    </div>
                </div>
            </li>
            <li class="has-overlay">
                <img src="assets/images/slider/slider2.jpg"  alt="Slider 2" />
                <div class="slider-content text-center">
                    <div class="container">

                        <h2>Ingeniería y mantenimiento</h2>
                        <p>En complemento con los servicios de Instrumentación y control así como las capacitaciones, el servicio de ingeniería y mantenimiento aplicados, IT Energy integra, de manera sinérgica, un pool de opciones modulares o llave en mano que garantizan la efectividad, inter-operabilidad y reducción de costos y tiempos muertos en la implementación, desarrollo y puesta en operación de los sistemas de telemetría, automatización y control procesos industriales y energéticos</p>
                        <a class="btn primary-btn"> CONOCER MAS <i class="fa fa-angle-right"></i> </a>
                    </div>
                </div>
            </li>
            <li class="has-overlay">
                <img src="assets/images/slider/slider4.jpg"  alt="Slider 3" />
                <div class="slider-content text-center">
                    <div class="container">

                        <h2>Instrumentación y control</h2>
                        <p>Volcada al ámbito de la ingeniería aplicada, IT Energy provee soluciones, diseña arquitecturas, instala sistemas e implementa proyectos de instrumentación y control de procesos de los ramos industriales y energéticos con los más altos estándares de calidad y seguridad, considerando, en todo momento, el cumplimiento de las normatividades de ambiente y salud nacionales e internacionales aplicables para cada solución</p>
                        <a class="btn primary-btn"> CONOCER MAS <i class="fa fa-angle-right"></i> </a>
                    </div>
                </div>
            </li>
            <li class="has-overlay">
                <img src="assets/images/slider/slider3.jpg"  alt="Slider 4" />
                <div class="slider-content text-center">
                    <div class="container">

                        <h2>Capacitaciones</h2>
                        <p>Complementando las actividades de desarrollo e implementación de sistemas de telemetría, monitoreo y control, IT Energy ofrece toda una cartera de adiestramientos relacionados a la automatización de procesos industriales y energéticos que van desde temas de ingeniería para el monitoreo y control de procesos industriales hasta rubros técnicos como la calibración, mantenimiento y puesta en servicio de los elementos primarios, secundarios y terciarios que los componen</p>
                        <a class="btn primary-btn"> CONOCER MAS <i class="fa fa-angle-right"></i> </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>