<!-- Page Title -->
<div class="page-ceo text-center">
    <h2 class="title">Misión &amp; Visión </h2>
    <p class="description light"> La tecnologia ilumina el camino.
        <br> La estrategia te da dirección. </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent">
            <i class="fa fa-home"></i>
            <a href="index.html"> Home </a>
        </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child">
            <a href="about.html"> About </a>
        </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> COMPANY OVERVIEW </span>
    </div>
</div>

<div class="container">
    <div class="row about-sidebar">
        <div class="col-md-9 about-content">
            <section class="about-company">
                <div class="com text-justify">
                    <!-- <h2 class="company-title color-title">VISIÓN Y MISIÓN </h2> -->

                    <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Misión</h3>

                    <p>
                        Proveer soluciones prácticas para nuestros clientes, trabajando con ellos, usando lo mejor de nuestros conocimientos y tecnología de vanguardia con la finalidad de maximizar el valor de los activos de manera segura, confiable, rentable y sustentable.
                    </p>
                    <br>

                    <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Visión</h3>
                    <p>
                        Ser una empresa de referencia para la industria del Petróleo y del Gas socialmente responsable. Que se reinventa constantemente a través de la aplicación de conceptos innovadores, que es ágil, transparente y con alto nivel de innovación en su estrategia
                        y sus operaciones.
                    </p>
                    <br>

                    <img src="assets/images/nuestra-empresa/mision-vision/mision_vision.jpg" width="100%" height="10%" alt="vision" />


                </div>
                <div class="spacer-50"></div>
            </section>
        </div>

        <div class="col-md-3 sidebar left">

            <div class="sidebar-blog-categories">
                <ul>
                    <li>
                        <a [routerLink]="['/it','quienes-somos']"> ¿ Quiénes Somos? </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','mision-vision']"> Misión &amp; Visión </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','hse']"> HSE </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','ceo']"> CEO </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','identidad']"> Identidad </a>
                    </li>
                </ul>
            </div>

            <!-- <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF
                        <span>1.5 MB</span>
                    </a>
                </div>

            </div>

            <div class="sidebar-fact">

                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.
                </p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

            </div> -->

        </div>

    </div>

</div>