<!-- Page Title -->
<div class="page-ceo text-center">
    <h2 class="title"> ¿Quiénes Somos? </h2>
    <p class="description light"> "Lideres en la ejecución de proyectos de toda índole de automatización como;
        <br> instrumentación, telemetría, control, monitoreo y gestión del dato." </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> <a href="about.html"> About </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> COMPANY OVERVIEW </span>
    </div>
</div>

<div class="container">
    <div class="row about-sidebar">
        <div class="col-md-9 text-justify about-content">
            <section class="about-company">
                <div class="com">
                    <!-- <h2 class="company-title color-title"> NUESTRA EMPRESA </h2>
                    <h3 style=" font-weight: bold; color: #093EB6">¿Quiénes somos?</h3> -->
                    <img src="assets/images/nuestra-empresa/quienes-somos/quienes_somos.jpg" alt="quienes-somos" />
                    <div class="spacer-30"></div>
                    <p>
                        Somos una empresa mexicana de consultoría especializada en Tecnologías de Información y disciplinas asociadas a la Cadena de Valor de los Hidrocarburos. A través de la aplicación y gestión de tecnologías de vanguardia y recurso humano especializado necesario
                        para la coordinación y ejecución de proyectos de toda índole de automatización como; instrumentación, telemetría, control, monitoreo y gestión del dato.

                    </p>
                    <p>
                        Apoyamos a Pemex Exploración y Producción en cualquiera de las fases de la Cadena de Valor de los hidrocarburos, con énfasis en Tecnologías de Información.

                    </p>
                    <p>
                        Nuestra fortaleza se fundamenta en la experiencia adquirida por nuestros consultores a través de la experiencia adquirida en la ejecución de proyectos y transferencia de tecnologías en empresas petroleras de referencia mundial, así como en la orientación
                        estratégica de nuestros directivos.
                    </p>
                    <p>IT energy ofrece servicios dónde el cliente lo requiera. Para más información, entre en contacto con un representante autorizado o escribanos a … </p>
                    <br>
                </div>
            </section>

        </div>

        <div class="col-md-3 sidebar left">

            <div class="sidebar-blog-categories">
                <ul>
                    <li>
                        <a [routerLink]="['/it','quienes-somos']"> ¿ Quiénes Somos? </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','mision-vision']"> Misión &amp; Visión </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','hse']"> HSE </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','ceo']"> CEO </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','identidad']"> Identidad </a>
                    </li>
                </ul>
            </div>
            <!-- 
            <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Download PDF <span>1.5 MB</span>
                  </a>
                </div>

            </div>

            <div class="sidebar-fact">

                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.</p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

            </div> -->

        </div>

    </div>

</div>