<section class="home-testimonials">

    <div class="container">
        <div class="section-title text-center">
            <!--<h2 class="title-testimonials color-title">DON’T TAKE OUR WORD</h2>-->
            <h2 class="subtitle-testimonials title-2">TESTIMONIOS DE LOS CLIENTES</h2>
            <div class="spacer-50"> </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget leo ac nisi porta consectetur. Duis sit amet ligula turpis. Suspendisse eget hendrerit justo. Suspendisse elementum eleifend arcu in consequat. Nullam imperdiet, mauris a consequat pharetra, quam quam malesuada nisi, non scelerisque.</blockquote>

                <h4 class="client-name">Calvin Sims</h4>
                <p class="designation">Marketing Head, ABC Chemicals</p>
            </div>

            <div class="col-md-4">
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget leo ac nisi porta consectetur. Duis sit amet ligula turpis. Suspendisse eget hendrerit justo. Suspendisse elementum eleifend arcu in consequat. Nullam imperdiet, mauris a consequat pharetra, quam quam malesuada nisi, non scelerisque.</blockquote>

                <h4 class="client-name">Bertha Gonzales</h4>
                <p class="designation">Divisional Manager, Corpo Inc.</p>
            </div>

            <div class="col-md-4">
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget leo ac nisi porta consectetur. Duis sit amet ligula turpis. Suspendisse eget hendrerit justo. Suspendisse elementum eleifend arcu in consequat. Nullam imperdiet, mauris a consequat pharetra, quam quam malesuada nisi, non scelerisque.</blockquote>
                <h4 class="client-name">Brianna Hernandez</h4>
                <p class="designation">Founder &amp; CEO, Marine Engineering</p>
            </div>
        </div>
    </div>

</section>
