<!-- Page Title -->
<div class="page-ceo text-center">
    <h2 class="title">Identidad </h2>
    <p class="description light"> "Ofrecer soluciones como eje del cambio, apoyados por la tecnólogia y la innovación."
        <br></p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent">
                <i class="fa fa-home"></i>
                <a href="index.html"> Home </a>
            </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child">
                <a href="about.html"> About </a>
            </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> COMPANY OVERVIEW </span>
    </div>
</div>

<div class="container">
    <div class="row about-sidebar">
        <div class="col-md-9 about-content">
            <section class="about-company">
                <div class="com text-justify">
                    <!-- <h2 class="company-title color-title">VISIÓN Y MISIÓN </h2> -->

                    <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Valores</h3>

                    <p><strong>-</strong> Ética credibilidad y respeto
                        <br> <strong>-</strong> Desempeño con base en principios y responsabilidades.</p>


                    <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Excelencia e integridad
                    </h3>
                    <p>
                        Lo mejor de nuestras capacidades y honestidad intelectual. Cultura de excelencia e innovación.
                    </p>

                    <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Compromiso </h3>
                    <p>
                        Entrega de nuestros productos de acuerdo con las expectativas, necesidades y tiempos establecidos.
                    </p>

                    <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Responsabilidad Social</h3>
                    <p>
                        Ser reconocidos por los mexicanos como una empresa socialmente responsable comprometidos en participar activamente en el desarrollo sostenible de sus activos y de los hidrocarburos de la nación.
                    </p>

                    <img src="assets/images/nuestra-empresa/identidad/identidad.jpg" alt="identidad" />
                    <div class="spacer-30"></div>
                </div>
                <div class="spacer-50"></div>
            </section>
        </div>

        <div class="col-md-3 sidebar left">

            <div class="sidebar-blog-categories">
                <ul>
                    <li>
                        <a [routerLink]="['/it','quienes-somos']"> ¿ Quiénes Somos? </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','mision-vision']"> Misión &amp; Visión </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','hse']"> HSE </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','ceo']"> CEO </a>
                    </li>
                    <li>
                        <a [routerLink]="['/it','identidad']"> Identidad </a>
                    </li>
                </ul>
            </div>

            <!-- <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF
                        <span>1.5 MB</span>
                    </a>
                </div>

            </div>

            <div class="sidebar-fact">

                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.
                </p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

            </div> -->

        </div>

    </div>

</div>