<!-- Page Title -->
<div class="page-title text-center">
    <h2 class="title"> Productos </h2>
    <p class="description light"> Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
        <br> Phosfluorescently whiteboard fully tested initiatives. </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> <a href="about.html"> About </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> COMPANY OVERVIEW </span>
    </div>
</div>

<div class="container">
    <div class="row about-sidebar">
        <div class="col-md-9 text-justify about-content">
            <section class="services-company">
                <div class="row service-list">

                    <div class="col-md-6 col-sm-6">
                        <a href="#" class="hover-effect">
                            <img src="images/services-one.jpg" alt="Shell Chemicals" />
                        </a>
                        <h4 class="subtitle services-title-one">Shell Chemicals</h4>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit. Aenean ege tleo ac nisi porta. </p>
                        <a class="link" href="#"> Read More </a>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <a href="#" class="hover-effect">
                            <img src="images/services-two.jpg" alt="Commercial Fuels" />
                        </a>
                        <h4 class="subtitle services-title-one">Commercial Fuels</h4>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit. Aenean ege tleo ac nisi porta.</p>
                        <a class="link" href="#"> Read More </a>
                    </div>

                    <div class="clearfix spacer-50"></div>

                    <div class="col-md-6 col-sm-6">
                        <a href="#" class="hover-effect">
                            <img src="images/services-one.jpg" alt="tech" />
                        </a>
                        <h4 class="subtitle services-title-one">Lubricants</h4>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit. Aenean ege tleo ac nisi porta.</p>
                        <a class="link" href="#"> Read More </a>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <a href="#" class="hover-effect">
                            <img src="images/services-two.jpg" alt="tech" />
                        </a>
                        <h4 class="subtitle services-title-one">Marine Fuels</h4>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit. Aenean ege tleo ac nisi porta.</p>
                        <a class="link" href="#"> Read More </a>
                    </div>

                    <div class="clearfix spacer-50"></div>

                    <div class="col-md-6 col-sm-4">
                        <a href="#" class="hover-effect">
                            <img src="images/services-one.jpg" alt="tech" />
                        </a>
                        <h4 class="subtitle services-title-one">Shell Sulphur</h4>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit. Aenean ege tleo ac nisi porta. </p>
                        <a class="link" href="#"> Read More </a>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <a href="#" class="hover-effect">
                            <img src="images/services-two.jpg" alt="tech" />
                        </a>
                        <h4 class="subtitle services-title-one">Shell Trading</h4>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit. Aenean ege tleo ac nisi porta.</p>
                        <a class="link" href="#"> Read More </a>
                    </div>
                    >

                </div>
            </section>

        </div>

        <div class="col-md-3 sidebar left">

            <div class="sidebar-blog-categories">
                <ul>
                    <li><a href="company.html">Inos Intelligent Oilfield Service</a></li>
                    <li> <a href="mission.html"> CLIOS (Cloud Intelligent Oilfield Service) </a> </li>
                    <li> <a href="innovation.html">Desarrollo de Software para E&P</a> </li>
                    <li> <a href="approach.html">Gestión y Gerencia de la Medición</a> </li>
                </ul>
            </div>

            <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Download PDF <span>1.5 MB</span>
                      </a>
                </div>

            </div>

            <div class="sidebar-fact">

                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.</p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

            </div>

        </div>

    </div>

</div>