<!-- Page Title -->
<div class="page-title text-center">
    <h2 class="title"> Our Blog </h2>
    <p class="description light"> Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
        <br> Phosfluorescently whiteboard fully tested initiatives. </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> <a href="blog.html"> NEWS AND MEDIA </a> </span>
        <i class="fa fa-chevron-right"></i>
        <span class="child"> Blog </span>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-9 blog-grid">
            <section class="blog-services">
                <div class="row news">
                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">MAR </span> <span class="date"> 06</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news1.jpg" alt="Fuel" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html">FUEL TRANSPORTATION AND RAILWAY RULES </a></h3>
                            <p>By <a href="#">Eduardo Flores</a> in Transportation</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Feb </span> <span class="date"> 24</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news2.jpg" alt="Field Training" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html"> FIELD TRAINING SESSIONS FOR NEW EMPLOYEES </a> </h3>
                            <p>By <a href="#">Clinton Chavez</a> in TCareers</p>
                        </div>
                    </div>

                    <div class="clearfix spacer-60"> </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Jan </span> <span class="date"> 17</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news3.jpg" alt="Environment" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html"> A STUDY ON SUSTAINABILITY &amp; ENVIRONMENT FACTORS </a> </h3>
                            <p>By <a href="#">Gertrude Rose</a> in Environment</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Feb </span> <span class="date"> 24</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news2.jpg" alt="Field Training" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3> <a href="blog-single.html"> FIELD TRAINING SESSIONS FOR NEW EMPLOYEES </a> </h3>
                            <p>By <a href="#">Clinton Chavez</a> in TCareers</p>
                        </div>
                    </div>

                    <div class="clearfix spacer-60"> </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">MAR </span> <span class="date"> 06</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news1.jpg" alt="Fuel" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3> <a href="blog-single.html"> FUEL TRANSPORTATION AND RAILWAY RULES </a> </h3>
                            <p>By <a href="#">Eduardo Flores</a> in Transportation</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="blog-img-box">
                            <div class="blog-date"> <span class="month">Feb </span> <span class="date"> 24</span> </div>
                            <a class="hover-effect" href="blog-single.html">
                                <img src="images/news2.jpg" alt="Field Training" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html"> FIELD TRAINING SESSIONS FOR NEW EMPLOYEES </a> </h3>
                            <p>By <a href="#">Clinton Chavez</a> in TCareers</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3 sidebar">

            <div class="sidebar-search-form">
                <input type="text" class="  search-query form-control" placeholder="Search" />
                <button class="btn search-btn" type="button">
                    <span class="fa fa-search"></span>
                </button>
            </div>

            <div class="sidebar-blog-categories">
                <h3 class="sidebar-title">Categories</h3>

                <ul>
                    <li> <a href="#">The Company</a> </li>
                    <li> <a href="#">Careers</a> </li>
                    <li> <a href="#">Transportation</a> </li>
                    <li> <a href="#">Environment</a> </li>
                    <li> <a href="#">Refineries</a> </li>
                    <li> <a href="#">Technology</a> </li>
                    <li> <a href="#">Marketing &amp; Sales</a> </li>
                </ul>

            </div>

            <div class="sidebar-download">
                <div class="download-file color-bg">
                    <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Download PDF <span>1.5 MB</span>
                    </a>
                </div>

            </div>

            <div class="sidebar-fact">

                <h3 class="about-quick-fact">Quick Fact</h3>
                <p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.</p>
                <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

            </div>

            <div class="sidebar-tags">
                <h3 class="sidebar-title"> Tags </h3>
                <a href="#">OFFSHORE</a>
                <a href="#">DEVELOPMENT</a>
                <a href="#">TRANSPORTATION</a>
                <a href="#">OIL &amp; GAS</a>
                <a href="#">TRADING</a>
                <a href="#">SHELL</a>
                <a href="#">SUPPLY</a>
                <a href="#">ENVIRONMENT</a>
                <a href="#">CAREERS</a>

            </div>

        </div>

    </div>
</div>