<nav id="navbar" class="collapse navbar-collapse main-menu">
    <div class="container">
        <ul class="main-menu">
            <li routerLinkActive="active"><a [routerLink]="['inicio']"> Inicio </a></li>

            <li class="dropdown" routerLinkActive="active"><a href="#" data-toggle="dropdown"> NUESTRA EMPRESA<i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                <ul>
                    <li routerLinkActive="active"><a [routerLink]="['it','quienes-somos']"> ¿Quiénes Somos? </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['it','mision-vision']"> Misión &amp; Visión </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['it','hse']"> HSE </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['it','ceo']"> CEO   </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['it','identidad']"> Identidad </a></li>
                </ul>
            </li>
            <li class="dropdown" routerLinkActive="active"><a href="#" data-toggle="dropdown"> Servicios<i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                <ul>
                    <li routerLinkActive="active"><a [routerLink]="['servicio','digital-oilfield']"> Digital Oilfield </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['servicio','automatizacion-proceso']"> Automatización de Procesos </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['servicio','gestion-organizacional']"> Gestión organizacional y Talento </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['servicio','soporte-mtto']"> Soporte & Mantenimiento</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['servicio','consulta']"> Consultoria </a></li>
                    <li routerLinkActive="active"><a [routerLink]="['servicio','producto']"> Producto </a></li>
                </ul>
            </li>
            <li routerLinkActive="active"><a [routerLink]="['proyecto']"> Proyectos </a></li>


            <li class="dropdown" routerLinkActive="active"><a href="#" data-toggle="dropdown"> Desarrollo de carrera<i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                <ul>
                    <li routerLinkActive="active"><a [routerLink]="['blog']"> Cursos </a></li>
                    <li routerLinkActive="active"><a> Estancia</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['diplomados']"> Diplomados</a></li>
                    <li routerLinkActive="active"><a> Shortcodes </a></li>
                    <li routerLinkActive="active"><a> page </a></li>
                    <li><a href="blank-page.html"> Blank Page </a></li>
                </ul>
            </li>
            <!-- <li routerLinkActive="active"><a [routerLink]="['blog']"> Cursos </a></li> -->
            <!-- <li routerLinkActive="active" class="dropdown"><a data-toggle="dropdown"> Pages<i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                <ul>
                    <li routerLinkActive="active"><a [routerLink]="['blog']"> Blog </a></li>
                    <li><a href="blog-single.html"> Blog Single </a></li>
                    <li><a href="careers-single.html"> Careers Single </a></li>
                    <li><a href="shortcodes.html"> Shortcodes </a></li>
                    <li><a href="404.html"> 404 page </a></li>
                    <li><a href="blank-page.html"> Blank Page </a></li>
                </ul>
            </li> -->
            <li routerLinkActive="active"><a [routerLink]="['noticia-blog']"> Noticias & Blog</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" routerLinkActive="active">
          Accesos
          <i class="fa fa-chevron-down dropdown-toggle"></i> </a>
                <ul>
                    <li><a href="https://m2m.it-energy.com.mx/Login" target="_blank"> Plataforma Web </a></li>
                    <li><a href=" https://itenergy2015.sharepoint.com/sites/intranet/default.aspx" target="_blank"> Intranet </a></li>
                    <li><a href="https://outlook.office.com/owa/" target="_blank"> Correo </a></li>
                    <li><a href="https://itenergy2015.sharepoint.com/sites/intranet/TI/SitePages/Inicio.aspx" target="_blank"> Onedrive </a></li>
                    <li><a href="#" target="_blank"> Microsoft Azure </a></li>
                </ul>
            </li>
            <li routerLinkActive="active"><a [routerLink]="['contacto']"> Contacto </a></li>
        </ul>
    </div>
</nav>