<section class="home-services-other">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="title-services-other title-2">SERVICIOS</h2>
            <h4 class="subtitle-services-other subtitle-2">Nuestra fortaleza se fundamenta en el Know How y experiencia adquirida en la ejecución de proyectos Innovadores para empresas petroleras de referencia mundial</h4>
            <div class="spacer-50"> </div>
        </div>

        <div class="row services-other text-justify">
            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconTelemetria-rojo.png" alt="SHELL CHEMICALS" />
                </div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">TELEMETRIA</h4>
                    <p>Nuestro servicio de telemetría mejora la productividad de los activos, ya que permite a los usuarios diagnosticar, monitorear y controlar los procesos productivos a distancia y en tiempo real, reduciendo los costos de operación.

                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconInstrumentacion-rojo.png" alt="COMMERCIAL FUELS" />
                </div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">INSTRUMENTACION</h4>
                    <p>IT energy proporciona sensores e instrumentos de cabezal de pozo e instalaciones de superficie para la automatización de la recolección de información. Asegurando que todos los datos pertinentes estén disponibles para el análisis o
                        diagnostico del activo.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconCapacitacion-rojo.png" alt="AVIATION FUELS" />
                </div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">CAPACITACION</h4>
                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                </div>
            </div>

            <div class="clearfix spacer-70"></div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconSoftware-rojo.png" alt="LUBRICANTS" />
                </div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">DESARROLLO DE SOFTWARE</h4>
                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconConsultoria-rojo.png" alt="Consultoria" />
                </div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">CONSULTORIA</h4>
                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconIng-Mantto-rojo.png" alt="Mantenimiento" />
                </div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">MANTENIMIENTO</h4>
                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                </div>
            </div>

            <div class="clearfix spacer-70"></div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconPlataforma-Web-rojo.png" alt="App Movil" /></div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">Acceso Web & Movil</h4>
                    <p>Las herramientas de software están disponibles en una variedad de factores de formas, incluidos navegadores web, teléfonos inteligentes y tabletas. Analice rápidamente el comportamiento e sus activos utilizando una interfaz de usuario
                        moderna.
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconSeguridad-rojo.png" alt="SHELL TRADING" /></div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">SEGURIDAD</h4>
                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="img-box">
                    <img src="assets/images/icons/iconServicio-rojo.png" alt="SHELL FOR SUPPLIERS" /></div>
                <div class="services-info">
                    <h4 class="services-title-one subtitle">SERVICIO</h4>
                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                </div>
            </div>
        </div>

    </div>
</section>