<footer>
    <div class="footer">
        <div class="container">
            <!-- Prefooter Section -->
            <div class="row pre-footer">
                <div class="col-md-4">
                    <div class="contact-box">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="contact-details">
                            <h4 class="pre-footer-title">OFICINA</h4>
                            <p> Av. Vista Hermosa #824 Local Q
                                <br>Reynosa, Tamps, CP: 88715
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-box">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="contact-details">
                            <h4 class="pre-footer-title">LLAMANOS</h4>
                            <p>OFICINA: (899) 174 0761 EXT: 1300</p>
                            <p>BASE: +52 (899) 174 1339</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-box">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <div class="contact-details">
                            <h4 class="pre-footer-title">CONTACTANOS</h4>
                            <p>contacto@it-energy.com.mx </p>
                            <p>rjh@it-energy.com.mx </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Prefooter Section -->

            <!-- Footer widgets -->
            <div class="row widgets">
                <div class="col-md-4 col-sm-6">
                    <div class="about-txt widget">
                        <img src="assets/images/logo.png" alt="logo" />

                        <p>
                            En IT Energy hemos captado el inmenso mar de oportunidades que hoy en dia las empresas tienen para impulsar su eficiencia operativa a través del despliegue de soluciones digitales innovadoras alineadas a los resultados del negocio.
                            <!-- En colaboración se entreguen alianzas progresivas a asociaciones. Asertivamente cadenas de suministro principales antes de soluciones emergentes. Monetizamos elementos de acción de alto rendimiento antes de fuentes internas inalámbricas u objetos de acción
                            excepcionales de fuentes "orgánicas". -->
                        </p>

                        <div class="widgets-social">
                            <a href="https://www.facebook.com/It-Energy-Tecnologias-de-control-1687075811369630/" target="_blank">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/ITEnergytc" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>

                            <a href="https://www.linkedin.com/in/it-energy-796056163/" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="quick-links widget">
                        <h2 class="widget-title">ENLACES RÁPIDOS</h2>
                        <ul>
                            <li><a [routerLink]="['proyecto']"> Ocupación</a></li>
                            <li><a href="#"> Contacto </a></li>
                            <li><a href="#"> Información del Mercado </a></li>
                            <li><a href="#"> Tecnología</a></li>
                            <li><a href="#"> Últimas Noticias </a></li>
                        </ul>
                    </div>
                </div>

                <div class="spacer-50 visible-sm"></div>

                <div class="col-md-3 col-sm-6">
                    <div class="our-services widget">
                        <h2 class="widget-title">NUESTROS SERVICIOS</h2>
                        <ul>
                            <li><a href="#">Productos químicos & Combustibles comerciales </a></li>
                            <li><a href="#">Combustibles de aviación & combustibles marinos </a></li>
                            <li><a href="#">Servicios de lubricantes </a></li>
                            <li><a href="#"> Gas liquido de Petróleo </a></li>
                            <li><a href="#"> Capa de Sulfuro, Comercio &amp; Suministro </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="newsletter widget">
                        <h2 class="widget-title">NUEVAS NOTICIAS</h2>
                        <p>Suscribete a nuestros boletines informativos para recibir las ultimas nuevas y actualizadas noticias.</p>
                        <!-- ============= Mailchimp Subscribe Form ============= -->

                        <form action="php/subscribe.php" id="subscribeform" method="post">
                            <div class="form-group">
                                <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control" title="Please enter your email" data-msg-email="Please enter a valid email">
                            </div>
                            <button type="submit" class="btn btn-block" id="js-subscribe-btn"> Suscribirse Ahora!</button>

                            <div id="js-subscribe-result" data-success-msg="Done. Subscribed" data-error-msg="Oops. Error!"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Footer widgets -->
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row copyright-bar">
                <div class="col-md-6">
                    <p>Copyright © 2018 IT Energy Telemetrias de Control. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-right">
                    <p><a href="#"> Terminos de uso</a> <a href="#">Politica de Privacidad</a> <span> | </span>

                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>