<!-- Page Title -->
<div class="page-title text-center">
  <h2 class="title"> HSE </h2>
  <p class="description light"> Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
    <br> Phosfluorescently whiteboard fully tested initiatives. </p>
</div>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
        <span class="parent">
            <i class="fa fa-home"></i>
            <a href="index.html"> Home </a>
        </span>
    <i class="fa fa-chevron-right"></i>
    <span class="child">
            <a href="about.html"> About </a>
        </span>
    <i class="fa fa-chevron-right"></i>
    <span class="child"> COMPANY OVERVIEW </span>
  </div>
</div>
<div class="container">
  <div class="row about-sidebar">
    <div class="col-md-9 about-content">
      <section class="about-employees">
        <div class="row employees ">
          <div class="col-sm-12 text-left text-justify">

            <h3 class="text-subtitle" style=" font-weight: bold; color: #093EB6">Política de Seguridad, Ambiente y Salud
              Ocupacional
            </h3>
            <p>
              IT Energy es una empresa Mexicana Especializada en Tecnologías de control y disciplinas asociadas a la
              cadena de valor de
              los Hidrocarburos para los Sectores de Oil & Gas, Industrial, Sector público y Privado. El éxito
              del negocio a largo plazo de IT Energy depende, sin lugar a duda, de nuestra capacidad de mejorar
              continuamente nuestros servicios y productos, en concordancia con la seguridad y salud del personal,
              así como con el medio ambiente.
            </p>
            <p>
              Toda nuestra mesa directiva hace énfasis en garantizar la salud humana, la seguridad operacional,
              protección del medio ambiente,
              mejora de la calidad y la buena voluntad de la comunidad. Este compromiso centra el mayor interés
              de nuestros clientes, nuestros empleados y contratistas, nuestros accionistas y las comunidades
              en las que vivimos y trabajamos.
            </p>
            <ul>
              <h4 style=" font-weight: bold; color: #093EB6">En IT Energy declaramos con la mayor convicción que:</h4>
              <li type="disc">Todas las lesiones y accidentes sin excepción pueden ser prevenidos.</li>
              <li type="disc">Aplicar nuestros conocimientos técnicos en todos los aspectos relacionados con HSE,
                Aplicar en
                el diseño y la ingeniería de nuestros servicios y productos, además del personal.
              </li>
              <li type="disc">
                Proteger e impulsar programas de mejora de la salud, seguridad de nuestro personal y la comunidad en
                general.
              </li>
              <li type="disc">Comunicarse abiertamente con los involucrados garantizando la comprensión de nuestros
                programas,
                normas y políticas de QHSE, recompensando el mejor desempeño.
              </li>
              <li type="disc">
                Trabajar con Ética y Seguridad Son responsabilidad de todo el personal y de cada integrante propio, de
                nuestros contratistas
                y de nuestros clientes.
              </li>
              <li type="disc">La prevención y planeación debe ser el pilar sobre el que se ejecutan las actividades.
              </li>
              <li type="disc">La capacitación en seguridad, el entrenamiento continuo de lo aprendido y la evaluación de
                las
                áreas de mejora son la base para identificar y reforzar continuamente los aspectos de salud,
                seguridad y medio ambiente con la constante cooperación de todas las partes involucradas.
              </li>
            </ul>
            <p>
              IT Energy confía en sus empleados, en sus valores y en su actitud ética y responsable para cumplimiento de
              esta política
              y puntos mencionados.
            </p>
            <p>
              Para IT Energy el cumplimiento de las prácticas de Seguridad, Ambiente y Salud Ocupacional, Así como las
              regulaciones y legislación
              vigente son una condición de empleo y contratación, esto como parte integral de nuestras tareas,
              operaciones y funciones.
            </p>
            <p>
              En IT Energy Tecnologías de Control aspiramos a ser una empresa tecnológica líder en sus actividades en
              los sectores Oil
              & Gas, Sector Público y sector privado, Comprometida con promover la seguridad y la salud en
              el trabajo, además el cuidado del medio ambiente analizando continuamente oportunidades para
              la incorporación de nuevos proyectos y clientes exigentes en materia de Seguridad, Ambiente y
              Salud ocupacional.
            </p>

          </div>
        </div>
        <div class="spacer-80"></div>
      </section>

    </div>
    <div class="col-md-3 sidebar left">
      <div class="sidebar-blog-categories">
        <ul>
          <li>
            <a href="company.html"> The Company </a>
          </li>
          <li>
            <a href="mission.html"> Our Vision &amp; Mission </a>
          </li>
          <li>
            <a href="innovation.html"> Innovation </a>
          </li>
          <li>
            <a href="approach.html"> Our Approach </a>
          </li>
          <li>
            <a href="leaders.html"> Our Leaders </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-download">
        <div class="download-file color-bg">
          <a href="#">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF
            <span>1.5 MB</span>
          </a>
        </div>
      </div>
      <div class="sidebar-fact">
        <h3 class="about-quick-fact">Quick Fact</h3>
        <p>Distinctively fashion in the effect of standard products communities via seamless applications.
          Authoritatively
          recaptiualize.
        </p>
        <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>
      </div>
    </div>
  </div>
</div>
